body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3f2fd;
    font-family: Arial, sans-serif;
}

.neumorphic {
    background: #ffffff; border-radius: 20px;
}

.neumorphic-inset {
    background: #ffffff; border-radius: 20px;
}

.neumorphic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; width: 400px; height: 300px;
    text-align: center;
}

.neumorphic-input {
    width: 100%; margin: 10px 0; padding: 10px; font-size: 16px;
}

button {
    width: 100px;
}

.logo {
    display: block;
    margin: 0 auto 0px; 
    width: 90px;
    height: auto;
    
}

.error {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: left;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}